accelerate==0.15.0
transformers
ftfy
albumentations
opencv-python
einops
diffusers[torch]
pytorch_lightning
tensorboard
safetensors==0.2.6
gradio
altair
easygui
# for BLIP captioning
requests
timm==0.4.12
fairscale==0.4.4
# for WD14 captioning
tensorflow<2.11
huggingface-hub
# for kohya_ss library
.